<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to ORM MINI, <%= @user.name %></h1>
<p>
  You have new comment on your Ticket.
  You can see message here <%= @url %> .<br/>
</p>
<p>Thanks for your message and have a great day!</p>
</body>
</html>