%h3 Statuses
.span8
  %table{:id=>"table"}
    %thead
      %tr
        %th Name
        %th Link
        %th
        %th
    %tbody
      - @statuses.each do |status|
        %tr{:status_id =>status.id}
          %td
            %input{:type=>"text",:value=>status.name,:size=>"30"}
          %td
            %input{:type=>"text",:value=>status.link,:size=>"10"}
          %td
            %input{:type=>"button",:value=>"v",:onclick=>"save_status("+status.id.to_s+")"}
          %td
            %input{:type=>"button",:value=>"x",:onclick=>"delete_status("+status.id.to_s+")"}
      %tr
        %td
          %input{:type=>"text",:size=>"30",:id=>"new_status_name"}
        %td
          %input{:type=>"text",:size=>"10",:id=>"new_status_link"}
        %td{:colspan=>2,:align=>"center"}
          %input{:type=>"button",:value=>"+",:onclick=>"create_new_status()"}