%h3 Hello #{current_user.nil? ? 'Guest' : current_user.name.capitalize }
-if current_user!=nil and current_user.has_role? :expectation
  %h3 Your account is in expectation status.
  %p When administrators vote for your request, you will receive email message.

